  
<style>
    body{
        background-color:rgb(194, 216, 235);
        margin:0;
        padding:0;
    }
    #para{
        background-color: antiquewhite;
        color:#000000;
        height: 400px;
        width:300px;
        border-radius: 10%;
        padding: 5%;
        margin-left: 35%;
        margin-top: 13%;
    }
</style>
<body>
<p id="para">The V. Rangasamy Naidu Educational Trust devoted to the cause of promoting technical and scientific literacy, established Coimbatore Institute of Technology (CIT) in Coimbatore, Tamil Nadu, South India in 1956.
    CIT is one of the most reputed and prestigious educational institutions in India. The Institute backed by World Class research and development over the years attained autonomous status in 1987.</p>
</body>
